/*---------- Browser Reset -----------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------- Custom Styles -----------------*/
*, *:before, *:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
body {


	
}

header {
	background-color: hsl(202, 91%, 87%);

}
header img{
	width: 20%;
}

header li{
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
	padding: 10px 20px;

}


.hero {
	background-color: hsl(302, 91%, 87%);
	height: 240px;
	background-image: url(../images/sky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;

}

main {
	background-color: hsl(0, 0%, 92%);
}

footer{
	background-color: hsl(0, 0%, 19%);
	padding: 20px;
	color: white;

}
